.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.wizard-content-left {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.45);
  background-image: url('https://i.ibb.co/X292hJF/form-wizard-bg-2.jpg');
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 30px;
}
.wizard-content-left h1 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
}

.form-wizard {
  padding: 30px;
}
.form-wizard .wizard-form-radio {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.form-wizard .wizard-form-radio input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #dddddd;
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.form-wizard .wizard-form-radio input[type='radio']:focus {
  outline: 0;
}
.form-wizard .wizard-form-radio input[type='radio']:checked {
  background-color: #fb1647;
}
.form-wizard .wizard-form-radio input[type='radio']:checked::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  left: 1px;
  right: 0;
  margin: 0 auto;
  top: 8px;
}
.form-wizard .wizard-form-radio input[type='radio']:checked::after {
  content: '';
  display: inline-block;
  webkit-animation: click-radio-wave 0.65s;
  -moz-animation: click-radio-wave 0.65s;
  animation: click-radio-wave 0.65s;
  background: #000000;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}
.form-wizard .wizard-form-radio input[type='radio'] ~ label {
  padding-left: 10px;
  cursor: pointer;
}
.form-wizard .form-wizard-header {
  text-align: center;
}
.form-wizard .form-wizard-next-btn,
/* .form-wizard .form-wizard-previous-btn, */
.form-wizard .form-wizard-submit {
  background-color: #4290ca;
  color: #ffffff;
  display: inline-block;
  min-width: 100px;
  min-width: 120px;
  padding: 10px;
  text-align: center;
}
.form-wizard .form-wizard-next-btn:hover,
.form-wizard .form-wizard-next-btn:focus,
.form-wizard .form-wizard-previous-btn:hover,
.form-wizard .form-wizard-previous-btn:focus,
.form-wizard .form-wizard-submit:hover,
.form-wizard .form-wizard-submit:focus {
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
}
.form-wizard .wizard-fieldset {
  display: none;
}
.form-wizard .wizard-fieldset.show {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 40%);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0;
  position: relative;

  display: block;
}
.form-wizard .wizard-form-error {
  display: none;
  background-color: #d70b0b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}
/* .form-wizard .form-wizard-previous-btn {
background-color: #fb1647;
} */
.form-wizard .form-control {
  font-weight: 300;
  height: auto !important;
  padding: 15px;
  color: #000000;
  background-color: #fff;
  /* border: none; */
  box-shadow: 0 0 2px #00000073;
}
.form-wizard .form-control:focus {
  box-shadow: none;
}
.form-wizard .form-group {
  position: relative;
  margin: 25px 0;
}
.form-wizard .wizard-form-text-label {
  position: absolute;
  left: 30px;
  top: 0;
  transition: 0.2s linear all;
}
.form-wizard .focus-input .wizard-form-text-label {
  color: #4290ca;
  top: -18px;
  transition: 0.2s linear all;
  font-size: 12px;
}
.form-wizard .form-wizard-steps {
  margin: 30px 0 60px 0;
}
.form-wizard .form-wizard-steps li {
  width: 9%;
  float: left;
  position: relative;
}
.form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.form-wizard .form-wizard-steps li span {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
  font-size: 24px;
  font-family: 'Barlow Condensed', sans-serif;
}
.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.form-wizard .form-wizard-steps li.active span,
.form-wizard .form-wizard-steps li.activated span {
  background-color: #4290ca;
  color: #ffffff;
}
.form-wizard .form-wizard-steps li.active::after,
.form-wizard .form-wizard-steps li.activated::after {
  background-color: #4290ca;
  left: 50%;
  width: 50%;
  border-color: #4290ca;
}
.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: #4290ca;
}
.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.form-wizard .wizard-password-eye {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@keyframes click-radio-wave {
  0% {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    width: 60px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  .wizard-content-left {
    height: auto;
  }
}
.form-name {
  display: block;
  position: absolute;
  width: 100%;
  list-style-type: none;
  color: rgba(37, 39, 51, 1);
  text-transform: uppercase;
  font-size: 14px;

  margin-top: 12px;
  letter-spacing: 0px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}
.footerbg {
  border-bottom: 1px solid #2d2b2c !important;
  background: #242223;
  padding: 40px 10px 20px;
}
.footerlinks {
  font-family: 'Barlow Condensed';
}
.footerlinks h2 {
  margin: 0 0 28px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  font-style: normal;
  color: #ffffff;
}
.footerlinks ul {
  padding: 0;
  margin: 0;
}
.footerlinks ul li a {
  text-decoration: none;
  color: #707070;
  text-transform: capitalize;
  font-size: 18px;
  padding: 8px 0;
  display: block;
}
.navmain a.navbar-brand img {
  width: 100%;
}
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

#msform .action-button-previous {
  width: 120px;
  background: #333;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  font-size: 16px;
}

#msform .action-button {
  width: 120px;
  background: rgba(66, 144, 202, 1);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 15px;
  margin: 10px 5px;
  font-size: 16px;
}
h4 {
  margin: 20px 0;
}
.form-group {
  width: 100%;
}
.form-group .form-inline label {
  justify-content: left !important;
}
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc !important;
  border-radius: 0px;
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}
.form-control:valid {
  background-image: none !important;
}
.form-inline .form-control {
  width: 100%;
}
label {
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  margin-bottom: 5px !important;
  margin-top: 20px;
  color: #888;
}
.stepbox-9 .form-group.col-md-5 {
  margin-top: 0px;
}
/* another css */
topheader {
  background: rgba(66, 144, 202, 0.74);
}
.headwrap {
  width: 1400px;
  margin: 0 auto;
  font-family: 'Barlow Condensed', sans-serif;
}
.topnbmr {
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
}
.topnbmr a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
}
.navmain {
  background-color: rgba(37, 39, 51, 0.81);
}
.navmain ul.navbar-nav li {
  padding-right: 30px;
}
.navmain ul.navbar-nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}
.navmain ul.login-area {
  padding: 0;
  margin: 0;
}
.navmain ul.login-area li {
  display: inline-block;
  list-style: none;
}
.navmain ul.login-area li:first-child a {
  background: #fff;
  color: #252733;
  padding: 10px 21px;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 800;
}
.navmain ul.login-area li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.navmain ul.login-area li:last-child a {
  background: #4290ca;
  color: #fff !important;
  padding: 10px 21px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.wizard-content-left {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.45);
  background-image: url('https://i.ibb.co/X292hJF/form-wizard-bg-2.jpg');
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 30px;
}
.wizard-content-left h1 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
}
.form-wizard {
  padding: 30px;
}
.form-wizard .wizard-form-radio {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.form-wizard .wizard-form-radio input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #dddddd;
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.form-wizard .wizard-form-radio input[type='radio']:focus {
  outline: 0;
}
.form-wizard .wizard-form-radio input[type='radio']:checked {
  background-color: #fb1647;
}
.form-wizard .wizard-form-radio input[type='radio']:checked::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  left: 1px;
  right: 0;
  margin: 0 auto;
  top: 8px;
}
.form-wizard .wizard-form-radio input[type='radio']:checked::after {
  content: '';
  display: inline-block;
  webkit-animation: click-radio-wave 0.65s;
  -moz-animation: click-radio-wave 0.65s;
  animation: click-radio-wave 0.65s;
  background: #000000;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}
.form-wizard .wizard-form-radio input[type='radio'] ~ label {
  padding-left: 10px;
  cursor: pointer;
}
.form-wizard .form-wizard-header {
  text-align: center;
}
.form-wizard .wizard-fieldset {
  display: none;
}
.form-wizard .wizard-fieldset.show {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 40%);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0;
  position: relative;
  display: block;
}
.form-wizard .wizard-form-error {
  display: none;
  background-color: #d70b0b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.form-wizard .form-control {
  font-weight: 300;
  height: auto !important;
  padding: 15px;
  color: #000000;
  background-color: #fff;
  /* border: none; */
  box-shadow: 0 0 2px #00000073;
  border-radius: 0px;
}
.form-wizard .form-control:focus {
  box-shadow: none;
}
.form-wizard .form-group {
  position: relative;
  margin: 15px 0;
}

.form-wizard .focus-input .wizard-form-text-label {
  color: #4290ca;
  top: -18px;
  transition: 0.2s linear all;
  font-size: 12px;
}
.form-wizard .form-wizard-steps {
  margin: 30px 0 60px 0;
}
.form-wizard .form-wizard-steps li {
  width: 9%;
  float: left;
  position: relative;
}
.form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.form-wizard .form-wizard-steps li span {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
  font-size: 24px;
  font-family: 'Barlow Condensed', sans-serif;
}
.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.form-wizard .form-wizard-steps li.active span,
.form-wizard .form-wizard-steps li.activated span {
  background-color: #4290ca;
  color: #ffffff;
}
.form-wizard .form-wizard-steps li.active::after,
.form-wizard .form-wizard-steps li.activated::after {
  background-color: #4290ca;
  left: 50%;
  width: 50%;
  border-color: #4290ca;
}
.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: #4290ca;
}
.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.form-wizard .wizard-password-eye {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@keyframes click-radio-wave {
  0% {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    width: 60px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  .wizard-content-left {
    height: auto;
  }
}
.form-name {
  display: block;
  position: absolute;
  width: 100%;
  list-style-type: none;
  color: rgba(37, 39, 51, 1);
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 12px;
  letter-spacing: 0px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}
.footerbg {
  border-bottom: 1px solid #2d2b2c !important;
  background: #242223;
  padding: 40px 10px 20px;
}
.footerlinks {
  font-family: 'Barlow Condensed';
}
.footerlinks h2 {
  margin: 0 0 28px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  font-style: normal;
  color: #ffffff;
}
.footerlinks ul {
  padding: 0;
  margin: 0;
}
.fancy-radio {
  width: 150px;
  height: 150px;
  padding: 50px 30px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #5c5c5c;
  position: relative;
  display: block;
  text-align: center;
}
.active.fancy-radio {
  width: 150px;
  height: 150px;
  padding: 50px 30px;
  background: #4290ca;
  color: rgb(255, 255, 255);
  border: 1px solid #4290ca;
  position: relative;
  display: block;
  text-align: center;
}
a.fancy-radio {
  text-decoration: none;
}
a.fancy-radio:hover {
  color: white;
  background-color: #4290ca;
}
.form-wizard-next-btn {
  width: 120px;
  background: rgba(66, 144, 202, 1);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 15px;
  margin: 10px 5px;
  font-size: 16px;
  text-align: center;
}
.form-wizard-previous-btn {
  width: 120px;
  background: #333;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  font-size: 16px;
  text-align: center;
}
.form-wizard-next-btn:hover,
.form-wizard-previous-btn:hover,
.form-wizard-next-btn:focus,
.form-wizard-previous-btn:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(66 144 202);
}

@media (max-width: 600px) {
  .form-wizard .form-wizard-steps li span {
    height: 25px;
    width: 25px;
    font-size: 16px;
    line-height: 25px;
  }
  .form-wizard {
    padding: 15px;
  }
  .form-name {
    font-size: 7px;
  }
  .boxed label {
    width: 80px !important;
    padding: 8px 0 !important;
    font-size: 14px !important;
  }
  .label-icon {
    width: 25%;
    margin: 0 8px;
  }
  .radioholder {
    font-size: 15px;
  }
  .label-icon label {
    padding: 12px;
  }
  .label-icon i {
    font-size: 25px;
  }
  input#first_photo_front {
    font-size: 12px;
  }
  input#first_photo_back {
    font-size: 12px;
  }
  input#second_photo_front {
    font-size: 12px;
  }
  input#second_photo_back {
    font-size: 12px;
  }
  .annualincomeclm .label-icon .radioholder .radiomark:after {
    right: 10px;
  }
}
